.container {
  background-color: aliceblue;
  height: 100vh;
  box-sizing: border-box;
}
.content {
  padding: 50px;
}
#weather {
  margin: 20px 50px;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  background-color: #fff;
}
